<div class="blog-post_socials">
    <div class="social-long">{% include /_System/Includes/socials/fb-share.inc %}</div>
    <div>{% include /_System/Includes/socials/twitter-share.inc %}</div>
    <div>{% include /_System/Includes/socials/linked-in-share.inc %}</div>
    <div class="social-long">{% include /_System/Includes/socials/google-plus.inc %}</div>
</div>


<style type="text/css">
    .blog-post_socials {position: relative; display: table; width: 100%; margin-bottom: 20px;}
    .blog-post_socials > div {display: inline-block; width: 50px; overflow: hidden; width: 65px; float: left;}
    .blog-post_socials > div+div { margin-left: 10px; padding-top: 4px;}
    .blog-post_socials .social-long {width: 88px;}
</style>